<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/zak.css">
    <link rel="stylesheet" href="./css/simple-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>store dashboard</title>
</head>

<body>
    <div class="topnav">
<div class="col-12">
        <div class="row">
<div class="col-4"> 
    <h1 id="zak">Zakzuka!</h1></div>
            <div class="col-8">
                
                    <a class="active" href="/">Home</a>
                    <a href="/viewcart">View Cart</a>
                    <a href="/dashboard">View Dashboard</a>
                  <a href="/" id="back">BACK</a>
                </div>
                </div>
            </div>
        </div>
    <div class="container">
      
        <h4>My Store Dashboard</h4>

        <div class="row">
            <div class="col-12">
                <h5>Total sales</h5>

                <h5>Best selling products</h5>

                <h5>customer reviews</h5>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sit debitis aliquid eveniet maxime voluptatem culpa nihil dignissimos, facilis
                    minus quia nobis deleniti repellat error doloribus iure.
                    At distinctio aperiam ducimus.
                </p>


            </div>
        </div>

        <script>
    var myChart = new Chart(ctx, {...});
</script>
    </div>
    <script src="path/to/chartjs/dist/Chart.js"></script>
</body>

</html>