<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zakzuka!</title>
</head>
<body>
    <div class="container">
    <div class="row">
<div class="col-12">
    <h1>Zakzuka</h1>
    <ul>
        <li>product 1</li>
        <li>product 2</li>
        <li>product 3</li>
        <li>product 4</li>
        <li>product 5</li>
        <li>product 6</li>
        <li>product 7</li>
        <li>product 8</li>
        <li>product 9</li>

    </ul>
</div>
</div>
    </div>
</body>
</html>